@media (max-width: 1100px){
    .main{
        .top{
            &__slogan h1{
                position: absolute;
                letter-spacing: -7px;
                font-size: 100px;
                font-weight: 700;
                left: 35%;
            }
        }
    }
}

@media (max-width: 885px){
    .main{
        .illustration{
            &__picture-box{
                margin-left: 35%;
            }
            &__fire{
                width: 100%;
            }
        }
        
        .collection{
            &__red-button{
                margin-left: -15%;
            }
        }
        .sale{
            &__percents{
                margin-right: auto;
                margin-left: 30px;    
                text-align: left;
                height: 190px;
                font-size: 36px;  
                margin-bottom: 410px;
                margin-top: 20px;
                line-height: 42px;
            }
            form{
                margin-bottom: 35px;
                label{
                    font-size: 24px;
                    font-weight: 500;
                    // color: #000000;
                    line-height: 30px;
                    // display: block;
                    width: 50%;
                }
            }
            &__input-box{
                width: 50%;
                input{
                    width: calc(100% - 95px);
                    height: 60px;
                }
                button{
                    height: 60px;
                }
            }
        }
    }
}

@media (max-width: 770px){
    .main{
        .illustration{
            &__picture-box{
                margin-left: 35%;
            }
            &__fire{
                width: 100%;
            }
        }
        
        .collection{
            &__product-box{
                width: 100%;
                height: 685px;
                min-width: 500px;
                z-index: 1;
            }
            &__order-button-box{
                left: 10%;
                right: auto;
            }
            &__red-button{
                margin-top: 90%;
                height: 100px;
                width: 275px;
                margin-left: -500px;
            }
        }
        .delivery{
            margin-top: 70px;
            h6{
                font-size: 36px;
                line-height: 42px; 
            }
            p{
                font-size: 24px;
                line-height: 30px; 
            }
        }
        .sale{
            &__percents{
                margin-bottom: 320px;
                margin-top: 20px;        
                width: 295px;
            }
        }
    }
}

@media (max-width: 650px){
    .main{
        .top{
            &__slogan h1{
                left:auto;
                right: 10%;
            }
        }
        
        .illustration{
            &__picture-box{
                margin-left: 10%;
            }
        }
        .about{
            &__inner{
                margin-top: 80px;
            }
        }    
        .delivery{
            margin-top: 80px;
            &__steps{
                margin: 50px 0 75px 0px;
            }
        }
        .sale{
            &__percents{
                margin-bottom: 230px;
                margin-top: 20px;        
                width: 295px;
            }
        }
    }
}

@media (max-width: 600px){
    .main{
        .top{
            &__slogan h1{
                margin-top: 70px;
            }
            &__order-button{
                margin-top: 220px;   
            }
        }
    }
    .footer{
        &__social{
            flex-direction: column;
            // margin-left: 2%;
            margin: 0 0 auto 30px;
            align-items: flex-end;
        }
        &__social-item{
            margin-bottom: 3%;
            width: 45px;
            height: 45px;
            padding: 15px;
        }
    }
}

@media (max-width: 535px){
    .main{
        .top{
            &__slogan h1{
                font-size: 72px;
                right: 5%;
            }
            &__order-button{
                margin-top: 180px;   
            }
            &__first-inner{
                margin-left: 0;
                justify-content: flex-end;
            }
        }
        .about{
            color:#000000;
            &__inner{
                p{
                    margin-left: 0;
                    margin-top: 0px;
                    text-align: center;
                }
            }
            &__constructor{
                width: 100%;
                justify-content: center;
                display: grid;
                grid-template-columns: 200px;
                grid-auto-rows: auto auto auto;
            }
            &__pictures-1{
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &__pictures-2{
                grid-column-start: 1;
                grid-column-end: 2;
            }
            &__pictures-3{
                grid-column-start: 1;
                grid-column-end: 2;
            }
        }
        .collection{
            &__product-box{
                height: 50%;
                min-width: 100%;
            }
            &__slider-item{
                margin-right: 0px;
                img{
                    width: 100%;
                    height: 100%;
                    margin-right: 0;
                }
            }
            &__red-button{
                margin-top: auto;
                margin-bottom: 100px;
                height: 100px;
                width: 275px;
                margin-left: -350px
            }
        }
        .sale{
            &__percents{
                margin-bottom: 20px;
                margin-top: 360px;        
                width: 90%;
                height: auto;
            }
            form{
                flex-direction: column;
                
                label{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
            &__input-box{
                width: 100%;
            }
        }
        
    }
    .illustration{
        &__space-3{
            margin-top: -57px;
        }
        
        &__picture-box{
            margin-left: 8%;
            justify-content: center;
        
        }
        &__picture-mash{
            margin-right: 0;
        }
    }
    
    .footer{
        &__social{
            width: 10%;
            height: 100%;
            margin-bottom: 0;
        }
        &__social-item{
            margin-top: 9%;
        }
    }
}

@media (max-width: 500px){
    .main{
        .about{
            h2{font-size: 36px;
            line-height: 42px;}
        }
    }
    .footer{
        &__form-button{
            padding: 6px 12px;
            background-color: #543C7D;
            color:white;
            border: 0;
            min-width: 70px;
            font-weight: 600;
            cursor: pointer;
        }
    }
}






@media (max-width: 320px){
    .header{
        background: linear-gradient(96.95deg, #7933F5 14.07%, #7933F5 27.74%, #543E91 139.17%);
        position: relative;
        width: 100%;
        height: 60px;
        &__slogan-mobile{
            display: block;
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 36px;
            color: white;
            line-height: 62px;
            
        }
        &__inner{
            width: calc(320px - 30px);
            margin: 17px 0 0 0;
            position: relative;
            .menu__list{
                width: 100%;
            }
        }
        .container{
            margin: 0;
            padding: 0 15px;
            .menu{
                position: absolute;
                right: 0;
                &__switch{
                    margin: 0;
                }
                &__title{
                    display: none;
                }
            }
        }
    }
    .main{
        .top{
            background: white;
            &__first-inner{
                margin: 20px 0 0 0;
                padding: 0;
                justify-content: center;
            }
            &__slogan{
                display: none;
            }
            #descktop-button{
                display: none;
            }
            #mobile-button{
                display: block;
                z-index: 1;
                
            }
            &__order-button{
                margin: -50px 0 0 0;
                button{
                    z-index: 111;
                    width: 235px;
                    height: 90px;
                }    
            }
        }
        .about{
            &__inner {
                margin-top: 20px;
                padding: 0;
                #deskcop-about{
                    display: none;
                }
                #mobile-about{
                    display: block;
                    margin-right: 0;
                    margin-left: 0;
                    text-align: end;
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    margin-top: 10px;
                }
                #mobile-social-box{
                    display: flex;
                    padding: 0px;
                }
                
            }
            &__social{
                display: flex;
                width: 355px;
                justify-content: space-between;
                margin: 35px 0 auto auto;
                
            }
            &__social-item{
                width: 60px;
                height: 60px;
                padding: 10px;
                list-style: none;
                margin: 35px 5px;
            }
            //отклик при наведении
            &__social-item:hover{
                padding: 5px;
            }
        
            #telegram{
                background-color: #3AA5E0;
            }
            #instagram{
                background: rgb(131,58,180);
                background: linear-gradient(150deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            }
            #facebook{
                background-color: #4476BA;
            }
            #viber{
                background-color: #7933F5;
            }
            &__copyright{
                background-color: #543C7D;
                color: #000000, 80%;
                text-align: center;
                padding: 2px 10px 3px;
            }
            
            &__title{
                font-size: 24px;
            }
            &__constructor{
                margin-right: 0;
                margin-left: 0;
            }
        }
        .collection{
            height: 545px;
            .container-fluide{
                padding: 0;
            }
            &__order-button-box{
                width: 100%;
                left: 0;
                .yellow{
                    width: 210px;
                    height: 50px;
                    margin: 0;
                }
                .green{
                    width: 210px;
                    height: 50px;
                    margin-left: 10px;
                    margin-top: -20px;
                }
            }
            &__red-button{
                margin-top: -200px;
                margin-left: -300px;
                width: 230px;
                height: 100px;

            }
        }
        .delivery{
            margin-top: 300px;
        }
        .illustration{
            &__picture-mash{
                // position: absolute;
                background: url(../images/mashprod-mobile.jpg);
                background-repeat:no-repeat;
                background-size: contain;
                display: block;
                width: 290px;
                height: 350px;
            }
            &__picture-box{
                // position: absolute;
                margin: 15px 0 0 0;
            }
        }
    }
    .illustration{
        &__space-2, &__space-1, &__picture-lines{
            display: none;
            width: 10px;
            height: 10px;
        }
        &__space-3{
            display: none;
        }
        &__space-3-mobile{
            background-image: url(../images/space-3-mobile.png);
            background-repeat: no-repeat;
            background-size: contain;
            width: 140px;
            height: 375px;
            position: absolute;
            right: 0;
            margin-top: -140px;
        }
        
    }
        
}